<app-modal-container [size]="'sm'" [isOpen]="isOpen" [title]="modalTitle" [isConfirmDisabled]="sliderForm.invalid"
    (closeModal)="onCancel()" (confirm)="onSubmit()">

    <form [formGroup]="sliderForm" (ngSubmit)="onSubmit()" class="form-content">

        <!-- Image -->
        <div class="form-group">

            <app-ui-image-upload [isOpen]="isOpen"
                [existingImageUrl]="mode === 'edit'? sliderData?.imageUrl ?? null: null"
                (fileSelected)="onImageSelected($event)">
            </app-ui-image-upload>

            @if (
            sliderForm.get('imageUrl')?.invalid &&
            sliderForm.get('imageUrl')?.touched
            ) {
            <small class="error-text">
                الصورة مطلوبة
            </small>
            }

        </div>


        <!-- Location -->
        <div class="form-group">

            <app-ui-select placeholder="مكان العرض" [options]="locations" [control]="getControl('location')">
            </app-ui-select>

            @if (
            sliderForm.get('location')?.invalid &&
            sliderForm.get('location')?.touched
            ) {
            <small class="error-text">
                مكان العرض مطلوب
            </small>
            }

        </div>

    </form>

</app-modal-container>