<div class="inner-action-header">
  @if (showSearch) {
  <div class="search-box">
    <img draggable="false" src="assets/icon/main-header/Frame.svg" alt="Search Icon" class="search-icon">
    <input type="text" [placeholder]="searchPlaceholder" #searchInput [formControl]="searchControl">

  </div>
  }
  <div class="header-actions">
    @if (showDate) {
    <div class="date-box">
      <img draggable="false" src="assets/icon/main-header/calendar-02.svg" alt="Date Icon" class="date-icon">
      <span>{{ dateLabel }}</span>
    </div>
    }
    @if (showActionButton) {
    <button type="button" class="action-btn" (click)="onActionClicked()">
      <img draggable="false" src="{{ btnIcon }}" class="action-icon">
      <span>{{ actionLabel }}</span>
    </button>
    }
    @if (showFilterButton) {
    <button type="button" class="filter-btn" (click)="onFilterClicked()">
      <span>تصفية</span>
    </button>
    }
  </div>
</div>