<form [formGroup]="notificationForm" (ngSubmit)="onSubmit()" class="custom-form">


    <div class="input-group">
        <div class="input-wrapper">
            <img draggable="false" src="assets/icon/sidebar/notifications.svg" alt="notifications Icon"
                class="search-icon">
            <input type="text" id="title" formControlName="title" placeholder="عنوان الاشعار" class="custom-input">
        </div>

        @if (notificationForm.get('title')?.invalid && notificationForm.get('title')?.touched) {
        <span class="error-msg">
            هذا الحقل مطلوب.
        </span>
        }
    </div>


    <div class="input-group">
        <div class="input-wrapper">
            <textarea id="reason" formControlName="reason" placeholder="السبب" class="custom-input textarea"
                rows="4"></textarea>
        </div>

        @if (notificationForm.get('reason')?.invalid && notificationForm.get('reason')?.touched) {
        <span class="error-msg">
            هذا الحقل مطلوب.
        </span>
        }
    </div>


    <div class="submit-action">
        <button type="submit" class="submit-btn" [disabled]="notificationForm.invalid">
            ارسال
        </button>
    </div>

</form>