/* الغلاف الأب اللي بيشيل السايدبار والمحتوى */
:host {
  display: grid;
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;

  grid-template-columns: 13.625rem minmax(0, 1fr);
  transition: grid-template-columns 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

/* في حالة إن السايدبار اتعمله تصغير (Collapsed) */
:host(.sidebar-collapsed) {
  grid-template-columns: 5rem minmax(0, 1fr);
}

:host(.compact-sidebar) {
  grid-template-columns: 5rem minmax(0, 1fr);
}

/* المنطقة اللي هتشيل الهيدر والـ Router Outlet */
.main-content {
  display: flex;
  flex-direction: column;
  min-width: 0;
  overflow: hidden;
  background: var(--color-white);

  /* لون خلفية رمادي فاتح مريح للعين عشان يفصل عن السايدبار الأبيض */
  transition: grid-template-columns 0.3s cubic-bezier(0.4, 0, 0.2, 1);

}

/* تنسيق الهيدر اللي فوق */
.header-area {
  flex: 0 0 4.375rem;
  /* ارتفاع الهيدر ثابت */
  background: var(--color-white);
  border-bottom: 0.0625rem solid var(--color-black-100, var(--color-black-200));

  user-select: none;

}

/* مساحة عرض الصفحات المتغيرة (المهام، الطلاب، الخ) */
.page-content {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;

  min-height: 0;
  min-width: 0;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;

  padding: .5rem clamp(0.5rem, 2vw, 1rem);
}

@media (max-width: 48rem) {
  :host {
    grid-template-columns: 5rem minmax(0, 1fr);
  }

  .header-area {
    flex-basis: 4rem;
  }

  .page-content {
    padding: 0.5rem;
  }
}
