/* الغلاف الأب اللي بيشيل السايدبار والمحتوى */
:host {
  display: grid;
  height: 100vh;
  width: 100%;

  grid-template-columns: max-content 1fr;
  transition: grid-template-columns 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

/* في حالة إن السايدبار اتعمله تصغير (Collapsed) */
:host(.sidebar-collapsed) {
  grid-template-columns: 5rem 1fr;
}

/* المنطقة اللي هتشيل الهيدر والـ Router Outlet */
.main-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #ffffff;

  /* لون خلفية رمادي فاتح مريح للعين عشان يفصل عن السايدبار الأبيض */
  transition: grid-template-columns 0.3s cubic-bezier(0.4, 0, 0.2, 1);

}

/* تنسيق الهيدر اللي فوق */
.header-area {
  flex: 0 0 4.375rem;
  /* ارتفاع الهيدر ثابت */
  background: #ffffff;
  border-bottom: 0.0625rem solid var(--color-black-100, #e0e0e0);

  user-select: none;

}

/* مساحة عرض الصفحات المتغيرة (المهام، الطلاب، الخ) */
.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;

  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;

  padding: .5rem 1rem;
}