.order-details-page {
    width: 100%;
    min-width: 0;
}

.order-header {
    margin-bottom: 24px;

    h2 {
        margin: 0;
        font-size: 24px;
        font-weight: 700;

        span {
            color: #2196c8;
        }
    }
}

.order-details-content {
    display: grid;
    grid-template-columns:
        minmax(466px, 0.4fr) minmax(547px, 1fr);
    gap: clamp(12px, 2vw, 24px);

    align-items: start;
}

.order-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-top: 24px;
}

button {
    border: none;
    border-radius: 12px;
    padding: 14px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.reject-btn {
    background: #f3f3f3;
    color: #555;
}

.accept-btn {
    background: #4bbcec;
    color: white;
}