.sliders-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 28rem));
    justify-content: center;
    gap: 1.5rem;
}

@media (max-width: 90rem) {
    .sliders-grid {
        grid-template-columns: repeat(3, minmax(0, 28rem));
    }
}

@media (max-width: 68rem) {
    .sliders-grid {
        grid-template-columns: repeat(2, minmax(0, 28rem));
    }
}

@media (max-width: 960px) {
    .sliders-grid {
        grid-template-columns: 1fr;
    }
}

* {
    user-select: none;
}