.upload-container {
    width: 100%;
    margin-bottom: 24px;
}

.upload-area {
    position: relative;
    width: 98%;
    height: 250px;
    border: 2px dashed var(--color-primary-400);
    border-radius: 12px;
    background-color: var(--color-primary-50);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;

    &.dragging,
    &:hover {
        background-color: var(--color-primary-50);
        border-color: var(--color-primary-600);
    }
}

.upload-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    .upload-icon {
        width: 12.5rem;
        height: 6.5rem;
    }

    .upload-text {
        color: var(--color-primary-400);
        font-size: 1rem;
        font-weight: 500;
        margin: 0;
    }
}

.preview-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(var(--color-black-rgb) / 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s;

    &:hover {
        opacity: 1;
    }
}

.hidden-input {
    display: none;
}

.clear-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 10;
}